<!DOCTYPE html>
<html>
  <head>
    <title>Picbook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/pure-min.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
