

#upload-button {
    font-weight: bold;
}

.main-content {
    display: -webkit-flex;
    display: flex;
    overflow-y:scroll;
	position:absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.space {
    -webkit-flex: 1;
    flex: 1;
}

.new-post-form {
    margin-left: 50px;
}

.panel-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.text-input {
    width: 90%;
}

.post-stream {
    -webkit-flex: 7;
    flex: 7;
}

.post {
    display: -webkit-flex;
    display: flex;
}

.post-main-content {
    -webkit-flex: 1;
    flex: 1;
    border-right: 1px solid #ddd;
    margin: 10px 0 10px 20px;
    padding-right: 20px;
}

.post-comments {
    -webkit-flex: 1;
    flex: 1;
    font-size: 10pt;
    overflow-y:scroll;
    max-height: 400px;
    margin-top: 20px;
}

.pic-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.pic-footer {
    color: gray;
    font-style: italic;
    font-size: 8pt;
    text-align: right;
    padding-top: 3px;
}

img {
    width: 98%;
    height: auto;
}

.new-comment {
    margin: 20px 50px 0 20px;
}

.comment-form {}

.comment-form-top {
    display: -webkit-flex;
    display: flex;
}

.input-comment-username {
    -webkit-flex: 2;
    flex: 2;
}

.submit-comment-btn {
    -webkit-flex: 1;
    flex: 1;
    margin: 3px 0 3px 5px;
}

.input-comment-text {
    width: 100%;
    margin-top: 5px;
}

.comment {
    border-bottom: 1pt solid #eee;
    padding-bottom: 5px;
    margin-right: 50px;
}

.comment-user {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 10px;
}

.user-icon {
    height: 40px;
    width: 40px;
}

.user-name {
    font-weight: bold;
    font-size: 9pt;
    vertical-align: middle;
}

.comment-content {
    margin-left: 70px;
    white-space: pre-line;
    word-wrap: break-word;
}

.comment-datetime {
    color: gray;
    font-style: italic;
    font-size: 8pt;
    margin: 5px 0 0 40px;
}

.be-the-first {
    margin-left: 20px;
    font-weight: bold;
    border-bottom: 1pt solid #eee;
}